{% extends 'core/base.html' %}
{% load bootstrap5 %}

{% block title %}View NGO{% endblock %}
{% block linkscript %}{% endblock %}

{% block body %}
    <div class="mt-5 mb-5">
        <H1 class="text-center">View NGO</H1>
    </div>
    <div class="d-flex justify-content-center">
        <div class="bg-gradient-primary">
            <table class="table table-hover" style="max-width: 700px">
                <style>
                    td {
                        text-align: right;
                    }
                </style>
                <tr style="border-top: hidden">
                    <th>Organization Name</th>
                    <td>{{ object.full_name }}</td>
                </tr>
                <tr>
                    <th>Establishment Date</th>
                    <td>{{ object.establishment_date }}</td>
                </tr>
                <tr>
                    <th>Phone</th>
                    <td>
                        <a href="tel:{{ object.phone }}">{{ object.phone }}</a>
                    </td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>
                        <a href="mailto:{{ object.account.email }}">{{ object.account.email }}</a>
                    </td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td>{{ object.address }}</td>
                </tr>
                <tr>
                    <th>Fields of Work</th>
                    <td>
                        {% for field in object.field_of_work %}
                            <div style="display: inline-block; padding: 5px; margin: 4px 1px; border-radius: 5px; background-color: #eae9ec">{{ field }}</div>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <th>Epay Account</th>
                    <td>{{ object.epay_account }}</td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: left">
                        <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"> Bank Details</a>
                        <div class="collapse mt-3" id="collapseExample">
                            <table class="table table-striped">
                                <tr>
                                    <th>Bank Name</th>
                                    <td>{{ object.bank.bank_name }}</td>
                                </tr>
                                <tr>
                                    <th>Bank Account Name</th>
                                    <td>{{ object.bank.bank_account_name }}</td>
                                </tr>
                                <tr>
                                    <th>Account Number</th>
                                    <td>{{ object.bank.bank_account_number }}</td>
                                </tr>
                                <tr>
                                    <th>Branch</th>
                                    <td>{{ object.bank.bank_branch }}</td>
                                </tr>
                                <tr>
                                    <th>BSB (Bank State Branch)</th>
                                    <td>{{ object.bank.bank_BSB }}</td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>Verified</th>
                    <td>{{ object.verified }}</td>
                </tr>
            {% if object.display_picture %}
                <tr>
                    <th colspan="2" class="text-center">Display Picture</th>
                </tr>
                <tr>
                <td colspan="2" class="text-center">
                    <a href="{{ object.display_picture.url }}">
                        <img src="{{ object.display_picture.url }}" class="img-fluid" style="border-radius: 20px" alt="{{ object.display_picture.name }}"/>
                    </a>
                </td>
                </tr>
                {% endif %}
                {% if object.swc_affl_cert %}
                    <tr>
                        <th colspan="2" class="text-center">Social Welfare Council Affil Certificate</th>
                    </tr>
                    <tr>
                        <td colspan="2" class="text-center">
                            <a href="{{ object.swc_affl_cert.url }}">
                                <img src="{{ object.swc_affl_cert.url }}" class="img-fluid" style="border-radius: 20px" alt="{{ object.swc_affl_cert.name }}"/>
                            </a>
                        </td>
                    </tr>
                {% endif %}
                {% if object.pan_cert %}
                    <tr>
                        <th colspan="2" class="text-center">PAN Certificate</th>
                    </tr>
                    <tr>
                        <td colspan="2" class="text-center">
                            <a href="{{ object.pan_cert.url }}">
                                <img src="{{ object.pan_cert.url }}" class="img-fluid" style="border-radius: 20px" alt="{{ object.pan_cert.name }}"/>
                            </a>
                        </td>
                    </tr>
                {% endif %}
                <tr>
                    <th>Posted</th>
                    <td>{{ object.posted_post.count }}</td>
                </tr>
                <tr>
                    <th>Poked On</th>
                    <td>{{ object.poked_on.count }}</td>
                </tr>
                <tr>
                    <th>Last Login</th>
                    <td>{{ object.account.last_login }}</td>
                </tr>
                <tr>
                    <th>Date Joined</th>
                    <td>{{ object.account.date_joined }}</td>
                </tr>
                <tr>
                    <th>Active</th>
                    <td>{{ object.account.is_active }}</td>
                </tr>
            </table>
            <div class="d-flex flex-row-reverse mb-3">
                <form action="{% url 'delete-ngo' object.id %}" method="post" class="px-1">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this item?');"><i class="bi bi-x-circle-fill"></i> Delete</button>
                </form>
                <a href="{% url 'update-ngo' object.id%}" class="px-1">
                    <button type="button" class="btn btn-success"><i class="bi bi-pencil-fill"></i> Update</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
