{% extends 'core/base.html' %}
{% load static %}

{% block title %}List NGOs{% endblock %}
{% block linkscript %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/table.css' %}">
{% endblock %}

{% block body %}
    {% include  'core/extensions/navbar.html' with ngo='active'%}
    <!--------- Actual Start ---------->
    <div class="container-fluid mt-2">
        <div class="d-flex flex-row justify-content-between mb-4">
            <a class="btn btn-secondary" href="{% url 'create-ngo' %}" role="button">Create NGO</a>
            <div class="d-flex flex-row">
                <form class="mx-2" action="{% url 'read-ngos' %}" method="get">
                    <div class="input-group">
                        <input type="search" class="form-control" placeholder="search..." required aria-label="Search" name="name">
                        <select class="form-select" aria-label="Default select example" required name="filter_by">
                            <option value="" selected>Filter by</option>
                            <option value="username">Username</option>
                            <option value="fullname">Fullname</option>
                        </select>
                        <button class="btn btn-secondary" type="submit" id="button-addon2"> <i class="bi bi-search"></i></button>
                    </div>
                </form>
                <a class="btn btn-secondary" href="{% url 'read-ngos' %}" role="button">Reset</a>
            </div>
        </div>
        {% if page_obj %}
            <div class="table-responsive">
            <table>
                <thead>
                <tr>
                    <th scope="col">DP</th>
                    <th scope="col">NGO Name</th>
                    <th scope="col">Date Joined</th>
                    <th scope="col">Active</th>
                    <th scope="col">Last Login</th>
                    <th scope="col">Verified</th>
                    <th scope="col" style="width: 25%">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for ngo in page_obj %}
                    <tr>
                        {% if ngo.display_picture %}
                            <td data-label="Display Picture"><img src="{{ ngo.display_picture.url }}" height="30px" width="30px" style="border-radius: 20px; object-fit: cover" alt="{{ ngo.display_picture.name }}"></td>
                        {% else %}
                            <td data-label="Display Picture"><img src="{% static 'core/img/default_ngo_dp.png' %}" height="30px" width="30px" style="border-radius: 20px; object-fit: cover" alt="Default NGO DP"></td>
                        {% endif %}
                        <td data-label="NGO Name">{{ ngo.full_name }}</td>
                        <td data-label="Date Joined">{{ ngo.account.date_joined|date }}</td>
                        <td data-label="Active">{{ ngo.account.is_active }}</td>
                        <td data-label="Last Login">{{ ngo.account.last_login }}</td>
                        <td data-label="Verified">{{ ngo.is_verified }}</td>
                        <td data-label="Action">
                            <div class="d-inline-flex">
                                <a href="{% url 'read-ngo' ngo.id%}" class="px-1">
                                    <button type="submit" class="btn btn-primary"><i class="bi bi-eye-fill"></i> View</button>
                                </a>
                                <a href="{% url 'update-ngo' ngo.id%}" class="px-1">
                                    <button type="button" class="btn btn-success"><i class="bi bi-pencil-fill"></i> Edit</button>
                                </a>
                                <form action="{% url 'delete-ngo' ngo.id %}" method="post" class="px-1">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to remove the NGO: {{ ngo.full_name }}?');"><i class="bi bi-x-circle-fill"></i> Remove</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="mt-3 d-flex justify-content-end">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="page-item"> <a class="page-link" href="?page=1">&laquo; first</a></li>
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">previous</a></li>
                        {% endif %}
                        <li class="page-item page-link">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                        </li>
                        {% if page_obj.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next</a></li>
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        {% else %}
            <div class="d-flex justify-content-center align-items-center" style="height: 72vh;">
                <div class="text-center" style="font-size: 1.5em; font-weight: bold; color: #5c636a">
                    Nothing Here...
                </div>
            </div>
        {% endif %}
        </div>
    </div>
{% endblock %}
