{% extends 'core/base.html' %}
{% load bootstrap5 %}

{% block title %}Link Bank{% endblock %}
{% block linkscript %}{% endblock %}

{% block body %}
    <div class="mt-5 mb-5">
        <H1 class="text-center">
            <i class="bi bi-bank2"></i> Link Bank
        </H1>
    </div>
    <div class="d-flex justify-content-center">
        <div style="min-width: 50%;">
            <form id="bank-form" method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form form %}
            </form>
            <div class="btn-group w-100" role="group" aria-label="Basic example">
                <button form="bank-form" type="submit" class="btn btn-primary w-50">Link</button>&nbsp;&nbsp;&nbsp;
                <a href="{% url 'read-ngo' ngo_pk %}" class="text-decoration-none w-50"><button type="submit" class="btn btn-secondary w-100">Skip</button></a>
            </div>
        </div>
    </div>
{% endblock %}
