{% extends 'core/base.html' %}
{% load bootstrap5 %}

{% block title %}Link Bank{% endblock %}
{% block linkscript %}{% endblock %}

{% block body %}
    <div class="mt-5 mb-5">
        <H1 class="text-center">
            <i class="bi bi-bank2"></i> Link Bank
        </H1>
    </div>
    <div class="d-flex justify-content-center">
        <div style="min-width: 50%;">
            <form id="bank-form" method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form form %}
            </form>
            <button form="bank-form" type="submit" class="btn btn-primary" style="width: 100%">Link</button>
        </div>
    </div>
{% endblock %}
