{% extends 'core/base.html' %}
{% load static %}

{% block title %}Coming soon{% endblock %}
{% block linkscript %}
    <!-- Main Stylesheet File -->
    <link href="{% static 'core/css/comming-soon.css' %}" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
{% endblock %}

{% block body %}
    <div class="wrapper">
        <h1>coming soon<span class="dot">.</span></h1>
        <p>Buckle your patience, We will get you soon.</p>
        <div class="icons">
            <a href="https://linkedin.com/bishalgc"><i class="fa fa-linkedin"></i></a>
            <a href="https://github.com/gcbishal"><i class="fa fa-github"></i></a>
            <a href="https://open.spotify.com/user/3z8ya6o6p7v2fkc5n1c3yrrqo"><i class="fa fa-spotify"></i></a>
        </div>
    </div>
{% endblock %}
