{% extends 'core/base.html' %}
{% load static %}

{% block title %}Access Forbidden{% endblock %}
{% block linkscript %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/forbidden-page.css' %}"/>
{% endblock %}

{% block body %}
<div class="lock"></div>
<div class="message">
    <h1>403 Forbidden</h1>
    <p>You don't have access to the page you requested!</p>
    <p style="text-align: center"> Try with different <span><a href="{% url 'login-web' %}" style="text-decoration: none">account</a></span></p>
</div>
{% endblock %}