{% extends 'core/base.html' %}
{% load static %}

{% block title %}List People{% endblock %}
{% block linkscript %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/table.css' %}">
{% endblock %}

{% block body %}
    {% include  'core/extensions/navbar.html' with people='active' %}
    <!--------- Actual Start ---------->
    <div class="container-fluid mt-2">
        <div class="d-flex flex-row justify-content-between mb-4">
            <div></div>
            <div class="d-flex flex-row">
                <form class="mx-2" action="" method="get">
                    <div class="input-group">
                        <input type="search" class="form-control" placeholder="search..." aria-label="Search">
                        <button class="btn btn-secondary" type="button" id="button-addon2"> <i class="bi bi-search"></i></button>
                    </div>
                </form>
                <div class="dropdown">
                    <button class="btn btn-secondary" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-filter"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table>
                <thead>
                <tr>
                    <th scope="col">DP</th>
                    <th scope="col">User Name</th>
                    <th scope="col">Date Joined</th>
                    <th scope="col">Active</th>
                    <th scope="col">Last Login</th>
                    <th scope="col">Verified</th>
                    <th scope="col" style="width: 25%">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for people in object_list %}
                    <tr>
                        <td data-label="Display Picture"><img src="{{ people.display_picture.url }}" height="30px" width="30px" style="border-radius: 20px; object-fit: cover" alt="{{ people.display_picture.name }}"></td>
                        <td data-label="User Name">{{ people.account.username }}</td>
                        <td data-label="Date Joined">{{ people.account.date_joined|date }}</td>
                        <td data-label="Active">{{ people.account.is_active }}</td>
                        <td data-label="Last Login">{{ people.account.last_login }}</td>
                        <td data-label="Verified">{{ people.is_verified }}</td>
                        <td data-label="Action">
                            <div class="d-inline-flex">
                                <div>
                                    <a href="{% url 'read-people' people.id %}">
                                        <button type="submit" class="btn btn-primary"><i class="bi bi-eye-fill"></i> View</button>
                                    </a>
                                </div>
                                <div class="mx-2">
                                    <a href="{% url 'update-people' people.id %}">
                                        <button type="button" class="btn btn-success"><i class="bi bi-pencil-fill"></i> Edit</button>
                                    </a>
                                </div>
                                <div>
                                    <form action="{% url 'delete-people' people.id %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to remove the People account: {{ people.account.username }}?');"><i class="bi bi-x-circle-fill"></i> Remove</button>
                                    </form>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
