{% extends 'core/base.html' %}

{% block title %}View Users{% endblock %}
{% block linkscript %}{% endblock %}

{% block body %}

    {% include  'core/extensions/navbar.html' with people='active' user='Bishal (Admin)' %}

    <!--------- Actual Start ---------->

    <div class="table-responsive-xl">
        <table class="table table-hover table-sm">
            <thead class="table-dark">
                <tr>
                  <th scope="col">DP</th>
                  <th scope="col">Full Name</th>
                  <th scope="col">Gender</th>
                  <th scope="col">DOB</th>
                  <th scope="col">Phone</th>
                  <th scope="col">Email</th>
                  <th scope="col">Address</th>
                  <th scope="col">Date Joined</th>
                  <th scope="col">Active</th>
                  <th scope="col">Last Login</th>
                  <th scope="col">Verified</th>
                  <th class="text-center" scope="col" colspan="3">Action</th>
                </tr>
            </thead>
            <tbody>
            {% for people in object_list %}
            <tr>
              <td><img src="{{ people.display_picture.url }}" height="40px" style="border-radius: 20px"></td>
              <td>{{ people.full_name }}</td>
              <td>{{ people.gender }}</td>
              <td>{{ people.date_of_birth|date }}</td>
              <td>{{ people.phone }}</td>
              <td>{{ people.account.email }}</td>
              <td>{{ people.address }}</td>
              <td>{{ people.account.date_joined|date }}</td>
              <td>{{ people.account.is_active }}</td>
              <td>{{ people.account.last_login }}</td>
              <td>{{ people.verified }}</td>
              <td>
                  <a href="{% url 'read-people' people.id%}">
                      <button type="submit" class="btn btn-primary"><i class="bi bi-eye-fill"></i>&nbsp;&nbsp;View</button>
                  </a>
              </td>
                <td>
                    <a href="{% url 'update-people' people.id%}">
                        <button type="button" class="btn btn-success"><i class="bi bi-pencil-fill"></i>&nbsp;&nbsp;Update</button>
                    </a>
                </td>
              <td>
                  <form action="{% url 'delete-people' people.id %}" method="post">
                          {% csrf_token %}
                          <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this item?');"><i class="bi bi-x-circle-fill"></i>&nbsp;&nbsp;Delete</button>
                  </form>
              </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
