#box-1 {
    background-color: #ff9200;
    color: #5b1313;
}
#box-2 {
    background-color: #e54b4b;
    color: #ffffff;
}
#box-3 {
    background-color: #5e389b;
    color: #cdb0fc;
}
#box-4 {
    background-color: #32b67a;
    color: #ffffff;
}
#box-5 {
    background-color: #062c34;
    color: #feb904;
}
#box-6 {
    background-color: #fbfe56;
    color: #0b64c0;
}
#box-7 {
    background-color: #055a5b;
    color: #e6e6e6;
}
#box-8 {
    background-color: #493545;
    color: #fa5f5f;
}
#box-9 {
    background-color: #9357a9;
    color: #000000;
}
#box-10 {
    background-color: #ee1924;
    color: #481c19;
}
#box-11 {
    background-color: #3b755f;
    color: #f2cb6c;
}
#box-12 {
    background-color: #083ea7;
    color: #1fde91;
}
#box-13 {
    background-color: #3b465c;
    color: #E9E8D4;
}
#box-14 {
    background-color: #a6cfe2;
    color: black;
}
#box-15 {
    background-color: #fc3c2d;
    color: #042d5b;
}
#box-16 {
    background-color: #2a382a;
    color: #ffb3b6;
}
#box-17 {
    background-color: #ef5b09;
    color: #54120a;
}
#box-18 {
    background-color: #1f243b;
    color: #2fff00;
}
#box-19 {
    background-color: #371722;
    color: #e1cdba;
}
#box-20 {
    background-color: #b396db;
    color: #502f7e;
}
#box-21 {
    background-color: #a80000;
    color: #f2ccb7;
}
#box-22 {
    background-color: #0e38b1;
    color: #ffffff;
}
#box-23 {
    background-color: #050402;
    color: #faac01;
}
#box-24 {
    background-color: #178e96;
    color: #fde3c8;
}
#box-25 {
    background-color: #3a465c;
    color: #e8e8d4;
}
#box-26 {
    background-color: #f1c3b8;
    color: #19227d;
}
#box-27 {
    background-color: #00458a;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    color: bisque;
    background-color: #0c4dab;
}

/*#table-ngo-count:hover {*/
/*    color: white!important;*/
/*}*/


