.card {
    transition: all 0.2s ease;
    cursor: pointer
}

.card:hover {
    box-shadow: 5px 6px 6px 2px #e9ecef;
    transform: scale(1.01);
}

#report-post {
    position: fixed;
    padding: 0vh 3vh; right: 0;
    overflow: auto;
}

@media only screen and (max-width: 600px) {

    #report-post {
        position: relative!important;
    }
}

textarea {
    resize: none;
}

.pills {
    display: inline-block;
    padding: 5px 10px; margin: 4px 1px;
    border-radius: 5px;
    color: white;
    background-color: #6c757d;
}