{% extends 'core/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Logged Out{% endblock %}
{% block linkscript %}{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center" style="height: 90vh">
        <div class="text-center" style="min-width: 50%; max-width: 85%">
            <div>
                <img src="{% static 'core/gif/logged-out.gif' %}" class="img-fluid" width="400px" alt="email-sent.gif">
            </div>
            <H1 class="mb-3">{{ title }}</H1>
            <p>"Thanks for spending some quality time with the web site today."</p>
            <p><a href="{% url 'login' %}" style="text-decoration: none">Login again</a></p>
        </div>
    </div>
    <div style="position: absolute">
    </div>
{% endblock %}
