{%extends 'core/base.html'%}
{% load bootstrap5 %}
{% block linkscript %}{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center" style="height: 100vh">
        <div style="width: 400px">
            <div class="text-center">
                <H1 class="mb-4">Password change</H1>
                <p>'For security’s sake, Please enter your old password your new password twice.'</p>
            </div>
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary" style="width: 100%">Change my password</button>
                {% endbuttons %}
            </form>
        </div>
    </div>
    {% include 'core/extensions/footer.html' %}
{% endblock %}
