{% extends 'core/base.html' %}
{% load bootstrap5 %}
{% block title %}Change Password{% endblock %}
{% block linkscript %}{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center" style="height: 90vh">
        <div style="min-width: 50%; max-width: 85%">
            <div class="text-center">
                <H1 class="mb-4">Change Password</H1>
                <p>'For security’s sake, Please enter your old password your new password twice.'</p>
            </div>
            <form method="post" class="mt-5">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary" style="width: 100%"><i class="bi bi-check-lg"></i>&nbsp;Done</button>
                {% endbuttons %}
            </form>
        </div>
    </div>
{% endblock %}
