{% extends 'core/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block linkscript %}{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center" style="height: 95vh;">
        <div class="text-center" style="width: 400px">
            <div>
                <img src="{% static 'core/gif/forgot-pw.gif' %}" class="img-fluid" width="200px" alt="email-sent.gif">
            </div>
            <H1 class="mb-4">Forgot Password?</H1>
            <p>We will email you instructions for setting your password. Enter your email below:</p>
            <div class="panel-body">
                <form id="register-form" role="form" autocomplete="off" class="form" method="post">
                {% csrf_token %}
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="bi bi-envelope-fill"></i></span>
                            {% render_field form.email  id="email" name="email" placeholder="email address" class="form-control"  type="email"%}
                        </div>
                        {% render_field  form.email.errors class="alert alert-danger text-center" %}
                        <input name="recover-submit" class="btn btn-primary" value="Reset Password" style="width: 100%" type="submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
