{% extends 'core/base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block title %}Password Reset Successful{% endblock %}
{% block linkscript %}{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center" style="height: 90vh">
        <div class="text-center" style="min-width: 50%; max-width: 85%">
            <div>
                <img src="{% static 'core/gif/reset-done.gif' %}" class="img-fluid" width="300px" alt="email-sent.gif">
            </div>
            <H1 class="mb-3">{{ title }}</H1>
            <p>"Your password has been set. You may go ahead and log in now."</p>
        </div>
    </div>
{% endblock %}