{%extends 'core/base.html'%}
{% load bootstrap5 %}
{% block linkscript %}{% endblock %}
{% load static %}

{% block body %}
    <div class="d-flex justify-content-center align-items-center" style="height: 95vh">
        <div style="width: 400px">
            {% if validlink %}
            <div class="text-center">
                <H1 class="mb-4">Password reset confirmation</H1>
                <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
            </div>
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary" style="width: 100%">Change my password</button>
                {% endbuttons %}
            </form>
        </div>
        {% else %}
                <div class="text-center">
                    <div>
                        <img src="{% static 'core/gif/invalid.gif' %}" class="img-fluid" width="300px" alt="email-sent.gif">
                    </div>
                    <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
                </div>
        {% endif %}
    </div>
{% endblock %}
