{% extends 'core/base.html' %}
{% load static %}

{% block title %}Admin Home{% endblock %}
{% block linkscript %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/admin-home.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% endblock %}

{% block body %}
    {% include  'core/extensions/navbar.html' with home='active' %}
    <div class="container-fluid">
        <div class="row" style="color: #343a40">
            <div class="col-md-7 mb-3">
                <div class="row justify-content-center">

                    <div class="col-md-4 mb-3" style="max-width: 48.2vw">
                        <div class="row">

                            <div class="col-md-12 mb-3">
                                <div class="p-3 rounded-3" id="box-1">
                                    <div style="text-align: right">
                                        <h1 class="fw-bold"><span class="counter">{{ home.total_people }}</span></h1>
                                    </div>
                                    <div class="pt-1" style="border-top: 1px solid">
                                        Total People Users
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <div class="p-3 rounded-3" id="box-2">
                                    <div style="text-align: right">
                                        <h5>
                                            <span class="counter">{{ home.total_minor_people_percentage }}</span>%
                                        </h5>
                                        <h1 class="fw-bold">
                                            <span class="counter">{{ home.total_minor_people }}</span>
                                        </h1>
                                    </div>
                                    <div class="pt-1" style="border-top: 1px solid">
                                        Total Minor People
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <div class="p-3 rounded-3" id="box-3">
                                    <div style="text-align: right">
                                        <h1 class="fw-bold">
                                            <span class="counter">{{ home.total_ngos }}</span>
                                        </h1>
                                    </div>
                                    <div class="pt-1" style="border-top: 1px solid">
                                        Total NGOs
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <div class="p-3 rounded-3" id="box-4">
                                    <div style="text-align: right">
                                        <h1 class="fw-bold">
                                            <span class="counter">{{ home.total_staffs }}</span>
                                        </h1>
                                    </div>
                                    <div class="pt-1" style="border-top: 1px solid">
                                        Total Staffs
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <div class="p-3 rounded-3" id="box-5">
                                    <div style="text-align: right">
                                        <h5>
                                            <span class="counter">{{ home.total_married_staff_percentage }}</span>%
                                        </h5>
                                        <h1 class="fw-bold">
                                            <span class="counter">{{ home.total_married_staff }}</span>
                                        </h1>
                                    </div>
                                    <div class="pt-1" style="border-top: 1px solid">
                                        Total Married Staffs
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <div class="p-3 rounded-3" id="box-6">
                                    <div style="text-align: right">
                                        <h5>
                                            <span class="counter">{{ home.total_poll_posts_percentage }}</span>%
                                        </h5>
                                        <h1 class="fw-bold">
                                            <span class="counter">{{ home.total_poll_posts }}</span>
                                        </h1>
                                    </div>
                                    <div class="pt-1" style="border-top: 1px solid">
                                        Total Poll Posts
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <div class="p-3 rounded-3" id="box-7">
                                    <div style="text-align: right">
                                        <h5>
                                            <span class="counter">{{ home.total_request_posts_percentage }}</span>%
                                        </h5>
                                        <h1 class="fw-bold">
                                            <span class="counter">{{ home.total_request_posts }}</span>
                                        </h1>
                                    </div>
                                    <div class="pt-1" style="border-top: 1px solid">
                                        Total Request Posts
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <div class="p-3 rounded-3" id="box-8">
                                    <div style="text-align: right">
                                        <h5>
                                            <span class="counter">{{ home.avg_pn_up_vote_np }}</span> up-votes/post
                                        </h5>
                                        <h1 class="fw-bold">
                                            <span class="counter">{{ home.total_post_normal_up_vote }}</span>
                                        </h1>
                                    </div>
                                    <div class="pt-1" style="border-top: 1px solid">
                                        Total up-votes (Normal Post)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <div class="p-3 rounded-3" id="box-9">
                                    <div style="text-align: right">
                                        <h5>
                                            <span class="counter">{{ home.avg_pp_options_pp }}</span> options/poll
                                        </h5>
                                        <h1 class="fw-bold">
                                            <span class="counter">{{ home.total_post_poll_options }}</span>
                                        </h1>
                                    </div>
                                    <div class="pt-1" style="border-top: 1px solid">
                                        Total Polls' Options
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <div class="p-3 rounded-3" id="box-10">
                                    <div style="text-align: right">
                                        <h5>
                                            <span class="counter">{{ home.avg_pp_options_polled_pp }}</span>
                                            polls/option
                                        </h5>
                                        <h1 class="fw-bold">
                                            <span class="counter">
                                            {{ home.total_post_poll_options_polled }}
                                                </span>
                                        </h1>
                                    </div>
                                    <div class="pt-1" style="border-top: 1px solid">
                                        Total Polls
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 mb-3" style="max-width: 48.2vw">
                        <div class="row">

                            <div class="col-md-12 mb-3">
                                <div class="p-3 rounded-3" id="box-11">
                                    <div style="text-align: right">
                                        <h5>
                                            <span class="counter">{{ home.total_active_people_percentage }}</span>%
                                        </h5>
                                        <h1 class="fw-bold">
                                            <span class="counter">{{ home.total_active_people }}</span>
                                        </h1>
                                    </div>
                                    <div class="pt-1" style="border-top: 1px solid">
                                        Total Active Peoples' Accounts
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <div class="p-3 rounded-3" id="box-12">
                                    <div style="text-align: right">
                                        <h5>
                                            <span class="counter">{{ home.total_verified_people_percentage }}</span>%
                                        </h5>
                                        <h1 class="fw-bold">
                                            <span class="counter">{{ home.total_verified_people }}</span>
                                        </h1>
                                    </div>
                                    <div class="pt-1" style="border-top: 1px solid">
                                        Total verified People
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <div class="p-3 rounded-3" id="box-13">
                                    <div style="text-align: right">
                                        <h5>
                                            <span class="counter">{{ home.total_active_ngos_percentage }}</span>%
                                        </h5>
                                        <h1 class="fw-bold">
                                            <span class="counter">{{ home.total_active_ngos }}</span>
                                        </h1>
                                    </div>
                                    <div class="pt-1" style="border-top: 1px solid">
                                        Total Active NGOs' Accounts
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <div class="p-3 rounded-3" style="text-align: right" id="box-14">
                                    <div class="d-flex justify-content-between">
                                        <span>Male</span>
                                        <h5>
                                            <span class="counter">{{ home.total_male_staff_percentage }}</span>%
                                        </h5>
                                    </div>
                                    <h1 class="fw-bold">
                                        <span class="counter">{{ home.total_male_staff }}</span>
                                    </h1>
                                    <div class="d-flex justify-content-between">
                                        <span>Female</span>
                                        <h5>
                                            <span class="counter">{{ home.total_female_staff_percentage }}</span>%
                                        </h5>
                                    </div>
                                    <h1 class="fw-bold">
                                        <span class="counter">
                                        {{ home.total_female_staff }}
                                        </span>
                                    </h1>
                                    <div class="d-flex justify-content-between">
                                        <span>LGBTQ+</span>
                                        <h5>
                                            <span class="counter">{{ home.total_lgbtq_staff_percentage }}</span>%
                                        </h5>
                                    </div>
                                    <h1 class="fw-bold">
                                        <span class="counter">{{ home.total_lgbtq_staff }}</span>
                                    </h1>
                                    <div class="pt-1" style="border-top: 1px solid; text-align: left;">
                                        Total Staffs based on Gender
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <div class="p-3 rounded-3" id="box-15">
                                    <div style="text-align: right">
                                        <h5>
                                            <span class="counter">{{ home.total_join_request_posts_percentage }}</span>%
                                        </h5>
                                        <h1 class="fw-bold">
                                            <span class="counter">{{ home.total_join_request_posts }}</span>
                                        </h1>
                                    </div>
                                    <div class="pt-1" style="border-top: 1px solid">
                                        Total Join Request Posts
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <div class="p-3 rounded-3" id="box-16">
                                    <div style="text-align: right">
                                        <h5>
                                            <span class="counter">{{ home.total_anonymous_posts_percentage }}</span>%
                                        </h5>
                                        <h1 class="fw-bold">
                                            <span class="counter">{{ home.total_anonymous_post }}</span>
                                        </h1>
                                    </div>
                                    <div class="pt-1" style="border-top: 1px solid">
                                        Total Anonymous Posts
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <div class="p-3 rounded-3" id="box-17">
                                    <div style="text-align: right">
                                        <h5>
                                            <span class="counter">{{ home.avg_pn_down_vote_np }}</span> down-votes/post
                                        </h5>
                                        <h1 class="fw-bold">
                                            <span class="counter">{{ home.total_post_normal_down_vote }}</span>
                                        </h1>
                                    </div>
                                    <div class="pt-1" style="border-top: 1px solid">
                                        Total down-votes (Normal Post)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <div class="p-3 rounded-3" id="box-18">
                                    <div style="text-align: right">
                                        <h5>
                                            <span class="counter">{{ home.avg_pr_join_signed_rp }}</span> signs/join
                                        </h5>
                                        <h1 class="fw-bold">
                                            <span class="counter">{{ home.total_post_request_join_signed }}</span>
                                        </h1>
                                    </div>
                                    <div class="pt-1" style="border-top: 1px solid">
                                        Total Join Signs
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 mb-3">
                        <div class="row">

                            <div class="col-md-12 mb-3">
                                <div class="p-3 rounded-3" style="text-align: right" id="box-19">
                                    <div class="d-flex justify-content-between">
                                        <span>Male</span>
                                        <h5>
                                            <span class="counter">{{ home.total_male_people_percentage }}</span>%
                                        </h5>
                                    </div>
                                    <h1 class="fw-bold">
                                        <span class="counter">{{ home.total_male_people }}</span>
                                    </h1>
                                    <div class="d-flex justify-content-between">
                                        <span>Female</span>
                                        <h5>
                                            <span class="counter">{{ home.total_female_people_percentage }}</span>%
                                        </h5>
                                    </div>
                                    <h1 class="fw-bold">
                                        <span class="counter">{{ home.total_female_people }}</span>
                                    </h1>
                                    <div class="d-flex justify-content-between">
                                        <span>LGBTQ+</span>
                                        <h5>
                                            <span class="counter">{{ home.total_lgbtq_people_percentage }}</span>%
                                        </h5>
                                    </div>
                                    <h1 class="fw-bold">
                                        <span class="counter">{{ home.total_lgbtq_people }}</span>
                                    </h1>
                                    <div class="pt-1" style="border-top: 1px solid; text-align: left">
                                        Total People User based on Gender
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <div class="p-3 rounded-3" id="box-20">
                                    <div style="text-align: right">
                                        <h5>
                                            <span class="counter">{{ home.total_verified_ngos_percentage }}</span>%
                                        </h5>
                                        <h1 class="fw-bold">
                                            <span class="counter">{{ home.total_verified_ngos }}</span>
                                        </h1>
                                    </div>
                                    <div class="pt-1" style="border-top: 1px solid">
                                        Total Verified NGOs
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <div class="p-3 rounded-3" id="box-21">
                                    <div style="text-align: right">
                                        <h1 class="fw-bold">
                                            <span class="counter">{{ home.total_posts }}</span>
                                        </h1>
                                    </div>
                                    <div class="pt-1" style="border-top: 1px solid">
                                        Total Posts
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <div class="p-3 rounded-3" id="box-22">
                                    <div style="text-align: right">
                                        <h5>
                                            <span class="counter">{{ home.total_normal_posts_percentage }}</span>%
                                        </h5>
                                        <h1 class="fw-bold">
                                            <span class="counter">{{ home.total_normal_posts }}</span>
                                        </h1>
                                    </div>
                                    <div class="pt-1" style="border-top: 1px solid">
                                        Total Normal Posts
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <div class="p-3 rounded-3" id="box-23">
                                    <div style="text-align: right">
                                        <h5>
                                            <span class="counter">{{ home.total_petition_request_posts_percentage }}</span>%
                                        </h5>
                                        <h1 class="fw-bold">
                                            <span class="counter">{{ home.total_petition_request_posts }}</span>
                                        </h1>
                                    </div>
                                    <div class="pt-1" style="border-top: 1px solid">
                                        Total Petition Request Posts
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <div class="p-3 rounded-3" id="box-24">
                                    <div style="text-align: right">
                                        <h5>
                                            <span class="counter">{{ home.total_removed_posts_percentage }}</span>%
                                        </h5>
                                        <h1 class="fw-bold">
                                            <span class="counter">{{ home.total_removed_post }}</span>
                                        </h1>
                                    </div>
                                    <div class="pt-1" style="border-top: 1px solid">
                                        Total removed Posts
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <div class="p-3 rounded-3" id="box-25">
                                    <div style="text-align: right">
                                        <h5>
                                            <span class="counter">{{ home.total_reports_percentage }}</span>%
                                        </h5>
                                        <h5>
                                            <span class="counter">{{ home.avg_reports_posts }}</span> reports/post
                                        </h5>
                                        <h5>
                                            <span class="counter">{{ home.total_reported_posts }}</span> reported posts
                                        </h5>
                                        <h1 class="fw-bold">
                                            <span class="counter">{{ home.total_reports }}</span>
                                        </h1>
                                    </div>
                                    <div class="pt-1" style="border-top: 1px solid">
                                        Total reported Posts
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 mb-3">
                                <div class="p-3 rounded-3" id="box-26">
                                    <div style="text-align: right">
                                        <h5>
                                            <span class="counter">{{ home.avg_pr_petition_signed_rp }}</span>
                                            signs/petition
                                        </h5>
                                        <h1 class="fw-bold">
                                            <span class="counter">{{ home.total_post_request_petition_signed }}</span>
                                        </h1>
                                    </div>
                                    <div class="pt-1" style="border-top: 1px solid">
                                        Total Petition Signs
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 mb-3">
                <div class="p-3 rounded-3" id="box-27">
                    <table class="table table-hover" id="table-ngo-count" style="color: #f6f3eb">
                        <thead>
                        <tr>
                            <th scope="col">Field of Work</th>
                            <th scope="col">NGO Count</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for k,v in home.ngos_per_field.items %}
                            <tr>
                                <th scope="row">{{ k }}</th>
                                <td style="text-align: right"><span class="counter">{{ v }}</span></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        function startCounter() {
            $('.counter').each(function () {
                const size = $(this).text().split(".")[1] ? $(this).text().split(".")[1].length : 0;
                $(this).prop('Counter', 0).animate({
                    Counter: $(this).text()
                }, {
                    duration: 2000,
                    easing: 'swing',
                    step: function (now) {
                        $(this).text(parseFloat(now).toFixed(size));
                    }
                });
            });
        }

        startCounter();
    </script>
{% endblock %}